h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  text-align: right;
}

body {
  color: 	#D2691E;
  font-size: 25;
}

button{
  background-color: #008CBA;
}
