h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  text-align: right;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}
